<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container">
	<form action="/departments" method="post">
	<input type="hidden" id="id" name="id" th:value="${department.id}">
		<div class="row">
			<div class="col-25">
				<label for="department_id">Department ID</label>
			</div>
			<div class="col-75">
				<input type="text" id="department_id" name="departmentId" th:value="${department.departmentId}">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="name">Department Name</label>
			</div>
			<div class="col-75">
				<input type="text" id="name" name="name" th:value="${department.name}">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="name_lang2">إسم القسم</label>
			</div>
			<div class="col-75">
				<input type="text" id="name_lang2" name="nameLang2" th:value="${department.nameLang2}">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="site_name">Site</label>
			</div>
			<div class="col-75">
				<select id="site_name" name="site.id">
					<option value="" disabled selected>Select the site</option>
					<option th:each="site : ${sites}" th:value="${site.id}"
						th:utext="${site.name}"  th:selected="${site.id==department.site.id}"/>
				</select>
			</div>
		</div>
		<div class="row">
			<input type="submit" value="Submit">
		</div>
	</form>
</div>
</html>
<!-- {
      "departmentId": "DEP6",
      "name": null,
      "nameLang2": null,
      "officeNumber": "",
      "floorNumber": null,
      "buildingName": "Building 10",
      "site": {
      	"id": 25
      }
   }
 -->
