@charset "UTF-8";

form input[type=text], input[type=date], input[type=number], select,
	textarea, .auto-complete-select {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.multiSelectContainer {
	display: inline-block;
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
}

.multiSelectContainer span, input {
	display: inline-block;
}

.multiSelectInput {
	padding: 0px !important;
	border: 0px !important;
}

.multiSelectInput:focus {
	outline: none !important;
}

.tagRenderedElement {
	background-color: #e8f9f8;
	margin: 0px 2px 2px 2px;
	padding: 6px;
	border-radius: 4px;
}

.closeTag {
	cursor: pointer;
	padding: 0px 0px 8px 8px;
	vertical-align: middle;
	font-weight: bold;
}

.auto-complete-select {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	background-color: white;
	background-color: -moz-field;
	font: -moz-field;
	font: -webkit-small-control;
	display: inline-block;
	margin: 0px;
}

.auto-complete-select-dropdown {
	background-color: white;
}

.auto-complete-select-dropdown {
	padding: 12px 15px;
	font: -webkit-small-control;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	display: none;
}

.auto-complete-select-dropdown p:hover {
	background-color: #00f;
}

label {
	padding: 0px 6px 6px 6px;
	display: block;
	font-size: 18px;
	vertical-align: top;
}

input[type=submit] {
	background-color: #0098BB;
	color: white;
	padding: 12px 20px 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	font-size: 16px;
	margin-top: 12px;
	width: 120px;
}

input[type=submit]:hover {
	background-color: #009FBF;
}

input[type=submit]:active {
	background-color: #0098BB;
	transform: translateY(1px);
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	input[type=submit] {
		width: 100%;
	}
}

.container {
	border-radius: 5px;
	background-color: #f9f9ff;
	padding: 20px;
}

.row {
	margin-top: 6px;
}

.col-15 {
	float: left;
	width: 12%;
	margin-top: 6px;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-35 {
	float: left;
	width: 36%;
	margin-top: 6px;
}

.col-15-rt {
	float: right;
	width: 12%;
	margin-top: 6px;
}

.col-25-rt {
	float: right;
	width: 25%;
	margin-top: 6px;
}

.col-35-rt {
	float: right;
	width: 36%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 1250px) {
	.col-15, .col-15-rt {
		width: 14%;
	}
	.col-35, .col-35-rt {
		width: 35%;
	}
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	label {
		margin-top: 16px;
	}
	.row {
		margin-top: 0px;
	}
	.col-15, .col-15-rt {
		text-align: center;
	}
	.col-15, .col-25, .col-35, .col-15-rt, .col-25-rt, .col-35-rt, input[type=submit]
		{
		width: 100%;
	}
	input[type=radio] {
		text-align: left;
	}
	input[type=submit] {
		margin-top: 18px;
	}
}